---
layout: sidebar
title: Varun Pai - Bookshelf
---

<div class="space-6">
  <h1>Bookshelf</h1>
  <span class="text-small">Titles I've read.</span>
</div>

<h2 class="space-6 theme">2019</h2>
<div class="row">

  {% for post in site.posts %}
    {% if post.tags contains "book review" %}
      {% capture title %}{{ post.title }}{% endcapture %}
      {% capture image %}{{ post.image }}{% endcapture %}
      {% capture url %}{{ post.url }}{% endcapture %}

      {% include book_cover.html title=title image=image url=url %}
    {% endif %}
  {% endfor %}
</div>

