---
layout: sidebar
title: Varun Pai - Holla
---

<h1 class="space-8">Writing</h1>

{% for post in site.posts %}
<div class="row space-8">
  <div class="col-xs-12 col-sm-9">

    <div class="space-2">
      <a href="{{ post.url }}"><h2 class="theme">{{ post.title }}</h2></a>
      <span class="text-small">{{ post.date | date: '%B %d, %Y' }}</span>
    </div>

    <p class="space-3">{{ post.excerpt | strip_html | append: "..." }}</p>

    <ul class="space-3">
      {% for tag in post.tags %}
        <li class="tag">{{ tag }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endfor %}
