<div id="header">
	
	<h2 id="name" class="pull-left">
		{% if page.title == "Home" %}
			Varun Pai
		{% else %}
			{{ page.title }}
		{% endif %}
	</h2>

	<ul class="nav nav-pills pull-right" id="menu">
		<li><a target="_blank" href="http://www.twitter.com/lifeofpai" class="link">Twitter</a></li>
		<li><a target="_blank" href="http://www.linkedin.com/pub/varun-pai/2b/863/468" class="link">LinkedIn</a></li>
		<li><a target="_blank" href="http://www.quora.com/Varun-Pai-1" class="link">Quora</a></li>
		<li><a target="_blank" href="http://github.com/vpai" class="link">Github</a></li>
		<li><a href="mailto:varunpai12@gmail.com" class="link">Email</a></li>
	</ul>

</div>
