<p class="space-3">varun <span class="blue">pai</span></p>

<a href="/">
  <img class="avatar space-8" src="/assets/images/pf/self.png" />
</a>

<div class="nav-items">
  <a href="#mind" class="nav-item space-6">
    <img src="/assets/images/pf/mind.png" />
    <p>mind</p>
  </a>

  <a href="#heart" class="nav-item space-6">
    <img src="/assets/images/pf/heart.png" />
    <p>heart</p>
  </a>

  <a href="#body" class="nav-item space-6">
    <img src="/assets/images/pf/body.png" />
    <p>body</p>
  </a>
</div>


