<ul class="soc">
  <li><a class="soc-twitter" href="https://twitter.com/lifeofpai" target="_blank"></a></li>
  <li><a class="soc-facebook" href="https://www.facebook.com/varunpai" target="_blank"></a></li>
  <li><a class="soc-linkedin" href="https://www.linkedin.com/in/varun-pai-4688632b/" target="_blank"></a></li>
  <li><a class="soc-rss" href="http://varunpai.me/feed.xml" target="_blank"></a></li>
  <li><a class="soc-medium" href="https://medium.com/@lifeofpai" target="_blank"></a></li>
  <li><a class="soc-airbnb soc-icon-last" href="https://www.airbnb.com/users/show/1913194" target="_blank"></a></li>
</ul>
