<form action="//varunpai.us15.list-manage.com/subscribe/post?u=af7029ee93065197d26fc5cd9&amp;id=e76de16611" method="post" target="_blank" novalidate>
  <input type="email" placeholder="enter your email" name="EMAIL">
  <input type="submit" value="Subscribe">

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_af7029ee93065197d26fc5cd9_e76de16611" tabindex="-1" value=""></div>
</form>
