// Globals.

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  letter-spacing: 0.45px;
  font-size: 14.5px;
  line-height: 1.55em;
  font-weight: 220;
  overflow: scroll;
}

header {
  height: 12px;
  background-color: $theme-color;
  width: 100%;
  z-index: 5;
  transition: height 0.15s ease;
  position: fixed;

  &>div {
    height: 100%;
  }

  h3 {
    display: none;
  }
}

header.sticky {
  height: 40px;

  h3 {
    display: initial;
    color: white;
  }
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

// Font.

@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


