// Headers.

h1 {
  font-size: 2.4em;
  font-weight: 900;
  line-height: 1.2em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 0.95em;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  line-height: 1.2em;
  font-weight: 400;
  font-size: 0.9em;
}

.text-light {
  font-size: 0.85em;
  color: $grey-l1;
}

.theme {
  color: $theme-color;
}

.underline {
  padding: 1.5px;
  border-bottom: 1px dotted $theme-color;

  &:hover {
    background-color: $theme-color;
    color: white;
  }
}