---
---

$border-style: 7px solid rgba(19, 126, 169, 0.8);
$section-padding: 30px 20px 0 30px;

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  border-top: $border-style;
}

#app-container {
  .gmap {
    width: 100%;
    height: 700px;
    border-bottom: $border-style;
  }

  .sidebar-container {
    height: 3500px;
  }

  .sidebar {
    height: 100%;
    border-right: $border-style;
    border-left: $border-style;
  }

  .section-padding {
    padding: $section-padding;
  }
}

.mail, .links {
  p {
    margin: 0;
    padding: 0;
  }
}

.grid-item {
  width: 250px;
  padding-bottom: 12px;

  img {
    height: 220px;
    width: 220px;
  }
}

.grid-item__container {
  width: 220px;
  padding: 12px;
  border: 1px solid rgba(216, 216, 216, .5);
}

.row {
  width: 100%;
}

row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-1 {
  width: 8.33333%;
  float: left; }

.col-2 {
  width: 16.66667%;
  float: left; }

.col-3 {
  width: 25%;
  float: left; }

.col-4 {
  width: 33.33333%;
  float: left; }

.col-5 {
  width: 41.66667%;
  float: left; }

.col-6 {
  width: 50%;
  float: left; }

.col-7 {
  width: 58.33333%;
  float: left; }

.col-8 {
  width: 66.66667%;
  float: left; }

.col-9 {
  width: 75%;
  float: left; }

.col-10 {
  width: 83.33333%;
  float: left; }

.col-11 {
  width: 91.66667%;
  float: left; }

.col-12 {
  width: 100%;
  float: left; }


// Colors

.color--light_blue {
  color: #FF4747;
}

.color--medium_blue {
  color: #137EA9;

}
