---
---

// Globals.

ul {
  padding: 0;
  margin-left: 40px;
}

body {
  height: 100vh;
  font: 18px 'Avenir Next', sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 0.3px;
  line-height: 1.7em;
}

p, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 1.5em;
}


