---
---

// Reset browser defaults.

ul {
  padding: 0;
  margin-left: 40px;
}

body {
  font: 13px Avenir, sans-serif;
  padding: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

