---
---

@import 'colors';
@import 'reset';
@import 'typography';
@import 'bookshelf';
@import 'social';
@import 'navigation';

// Container.

.container {
  max-width: 960px;
  padding: 150px 12px;
}

// Forms

.contact-form {

  label, input, textarea {
    display: block;
  }

  input {
    height: 25px;
    width: 200px;
  }

  input, textarea {
    border: 1px solid $grey-l2;
    border-radius: 2px;
    padding: 4px 8px;
    font: inherit;
  }

  button {
    background-color: $theme-color;
    color: white;
    border: none;
    font: inherit;
    font-weight: 400;
    border-radius: 2px;
    padding: 10px 30px;
  }
}

// Colors.

.pull-left {
  float: left;
}

.pull-right {
  float: left;
}

.text-center {
  text-align: center;
}

.space-1 {
  margin-bottom: 5px; }

.space-top-1 {
  margin-top: 5px; }

.space-2 {
  margin-bottom: 10px; }

.space-top-2 {
  margin-top: 10px; }

.space-3 {
  margin-bottom: 15px; }

.space-top-3 {
  margin-top: 15px; }

.space-4 {
  margin-bottom: 20px; }

.space-top-4 {
  margin-top: 20px; }

.space-5 {
  margin-bottom: 25px; }

.space-top-5 {
  margin-top: 25px; }

.space-6 {
  margin-bottom: 30px; }

.space-top-6 {
  margin-top: 30px; }

.space-7 {
  margin-bottom: 35px; }

.space-top-7 {
  margin-top: 35px; }

.space-8 {
  margin-bottom: 50px; }

.space-top-8 {
  margin-top: 50px; }

.post {
  max-width: 575px;

  img {
    border-radius: 2px;
  }

  p, h2, blockquote {
    margin-bottom: 35px;
  }
}

.back {
  position: absolute;
  top: 10px;
  left: 12px;
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

.img-with-caption__image {
  width: 100%;
}

.img-with-caption__container {
  position: relative;

}

.img-with-caption__caption {
  position: absolute;
  left: 558px;
  bottom: 0px;
  width: 100px;
}

// TAGS.

.tag {
  display: inline-block;
  background: $theme-color;
  color: white;
  min-width: 100px;
  text-align: center;
  padding: 3px 0;
  margin-right: 5px;
  font-weight: 500;
  font-size: 0.85em;
}

// new stuff.

nav {
  background-color: #F9F9F9;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}

.nav-items {
  display: flex;
  flex-direction: column;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.nav-item p {
  font-size: 14px;
  text-align: center;
}

main {
  flex-grow: 7;
  overflow: auto;
}

main a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed black;

  &:hover {
    color: darkorange;
    border-bottom: 1px dashed darkorange;
  }
}

.hat {
  position: fixed;
  width: 100%;
  border-top: 8px solid black;
}

$avatar-size: 30px;

.avatar {
  height: $avatar-size !important;
  width: $avatar-size !important;
  border-radius: $avatar-size;
  margin-right: 8px;
}

.self {
  max-width: 350px;
  border: 1px solid $grey-l2;
  border-radius: 2px;
  box-shadow: 3px 3px 2px aliceblue;
}
